



.zeitstrahl{
	width:800px;
	color:#182825;
	padding:30px 20px;
    
	
}

.zeitstrahl .zeit{
	list-style-type:none;
	border-left:2px solid black;
	padding:10px 5px;
}

.zeitstrahl .zeit .zeit2{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}

.zeitstrahl .zeit .zeit2 .z-span{
	display:inline-block;
	background-color:#F25757;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align:center;
}

.zeitstrahl .zeit .zeit2 .daten h3{
	color:#55251D;
	font-size:17px;
	padding-top:5px;
}

.zeitstrahl .zeit .zeit2 .daten p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}

.zeitstrahl .zeit .zeit2:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#55251D;
	border-radius:100%;
	left:-11px;
	top:28px;
	transition:.5s;
}

.zeitstrahl .zeit .zeit2:hover{
	background-color:white;
}

.zeitstrahl .zeit .zeit2:hover:before{
	background-color:#F25757;
	box-shadow:0px 0px 10px 2px #F25757;
}


.zeitstrahl .zeit .zeit2 .daten h3{
	color:#55251D;
	font-size:15px;

}
