/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/FinalBilder/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: 50% 50%; */
}

main {
  height: 90vh;
}

a {
  text-decoration: none;
}

nav {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 30px;
  left: 45px;
  
}

nav .navi {
  height: 50px;
  display:inline-flex;
}

nav .navi .nav-me {
  list-style-type: none;
  
  height: 50px;
}

nav .nav-me .navi a,
nav .nav-me .navi a:visited {
  color: #fff;
  text-decoration: none;
}

/*  TOOLTIP about me*/

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 750px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(300px) translateY(450px);
  opacity: 0;
  transition-duration: 7000ms;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-duration: 4000ms;
}

.tooltiptext {
  display: inline-flex;
  
}


/*  TOOLTIP Timeline */


.tooltip .tooltiptext2 {
  visibility: hidden;
  width: 900px;
  background-color: transparent;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(200px) translateY(-60px);
  opacity: 0;
  transition-duration: 9000ms;
}

.tooltip:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
  transition-duration: 4000ms;
}

.tooltiptext2 {
  display: inline-flex;
  
}

/*  About me*/

.am {
  margin: 10px;
  padding-top: 5px;
}

.portrait {
  border-radius: 10%;
}
.background {
  width: 100vw;
  height: 100vh;
  background-image: url(/FinalBilder/Background.png);
}






*/ .navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 485px;
  display: inline-block;
  padding: 0;
}



.logos {
  width: 10vw;
}

.logos img {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  padding-bottom: 10px;
}

.knowlege {
  width: 2.5vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: end;
  margin-left: 10px;
}

footer {
  width: 100vw;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.ko1 {
  display: inline;
}


.kontakt img .ko1 {
  width: 2.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  
}

.info {
  font-size: 10px;
  
}

.info1 {
  display: inline;
}

.kleingedrucktes {
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.a-bout {
  text-decoration: none;
  font-family: 'Princess Sofia', cursive;
  font-size: 30px;
  color: white ;
}


.a-bout:hover{
  text-decoration: none;
  font-family: 'Princess Sofia', cursive;
  font-size: 30px;
  color: #F25757 ;
}


.line {
  text-decoration: none;
  font-family: 'Princess Sofia', cursive;
  font-size: 30px;
  color: white ;
  margin-left: 15px;
}

.line:hover {
  text-decoration: none;
  font-family: 'Princess Sofia', cursive;
  font-size: 30px;
  color: #F25757 ;
}

.am {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: lighter;
}

.info1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  font-weight: lighter;
}


/*  Zeitstrahl*/

.zeitstrahl{
	width:800px;
	color:#182825;
	padding:30px 20px;
    
	
}

.zeitstrahl .zeit{
	list-style-type:none;
	border-left:2px solid black;
	padding:10px 5px;
  
}

.zeitstrahl .zeit .zeit2{
	padding:20px 20px;
  
	position:relative;
	cursor:pointer;
	transition:.5s;
  
}

.zeitstrahl .zeit .zeit2 .z-span{
	display:inline-flex;
	background-color:#F25757;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align: left;
  
}

.zeitstrahl .zeit .zeit2 .daten h3{
	color:#55251D;
	font-size:17px;
	padding-top:5px;
  height: 5px;
}

.zeitstrahl .zeit .zeit2 .daten p{
	
	font-size:15px;
}

.zeitstrahl .zeit .zeit2:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#55251D;
	border-radius:100%;
	left: -11px;
	top:28px;
	transition:.5s;
}

.zeitstrahl .zeit .zeit2:hover{
	background-color: transparent;
}

.zeitstrahl .zeit .zeit2:hover:before{
	background-color:#F25757;
	box-shadow:0px 0px 10px 2px #F25757;
}


.zeitstrahl .zeit .zeit2 .daten h3{
	color:#55251D;
	font-size:15px;

}
.z-eit {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.z-eit:hover {
  color: #F25757 ;
}
