/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/FinalBilder/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: 50% 50%; */
}

main {
  height: 90vh;
}

nav {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 40px;
  left: 90px;
}

nav ul {
  height: 50px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  height: 50px;
}

nav ul li a,
nav ul li a:visited {
  color: #fff;
  text-decoration: none;
}

/*  TEST TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 750px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(300px) translateY(450px);
  opacity: 0;
  transition-duration: 7000ms;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-duration: 4000ms;
}

.tooltiptext {
  display: inline-flex;
}

.am {
  margin: 10px;
  padding-top: 5px;
}

.portrait {
  border-radius: 10%;
}
.background {
  width: 100vw;
  height: 100vh;
  background-image: url(/FinalBilder/Background.png);
}
*/ .navbar {
  height: 20px;
  color: white;

  font-weight: bold;
  float: left;
  margin: 75px 135px;
}
*/ a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
  margin: 0;
}
*/ ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 485px;
  display: inline-block;
  padding: 0;
}

li {
  display: inline;
}

.logos {
  width: 10vw;
}

.logos img {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  padding-bottom: 10px;
}

.knowlege {
  width: 2.5vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: end;
  margin-left: 10px;
}

footer {
  width: 100vw;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.kontakt img a {
  width: 2.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.info {
  font-size: 10px;
}

.kleingedrucktes {
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

