* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.background {
    width: 100vw;
    height: 100vh;
    background-image: url(/FinalBilder/Background.png);
}

.navbar {
  height: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  float: left;
  margin: 75px 135px;
}

a, a:hover, a:visited {
  color: white;
  text-decoration: none;
}

li {
  display: inline;
  padding: 10px;
}